<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Sobre mí</h2>
                <p>Soy un desarrollador de software con experiencia en el desarrollo web y aplicaciones móviles. Me
                    especializo en tecnologías como Ruby on Rails, React.js y Android.</p>
                <p>Trabajo de manera colaborativa y estoy siempre buscando nuevos desafíos para seguir aprendiendo y
                    creciendo como profesional.</p>
            </div>
            <div class="col-lg-6">
                <img src="/assets/profile_image.jpg" alt="Perfil" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>