body {
    background-color: #111;
    color: #fff;
}

.card-img-top {
    width: 100%;
    /* Establece el ancho de la imagen al 100% del contenedor */
    height: 200px;
    /* Establece la altura deseada para las imágenes */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen manteniendo la relación de aspecto */
}

.botoncitos {
    background-color: #f00;
    /* Color de fondo personalizado */
    color: #fff;
    /* Color de texto personalizado */
    padding: 10px 20px;
    /* Espaciado interno para el botón */
    border-radius: 5px;
    /* Bordes redondeados */
    text-decoration: none;
    /* Eliminar subrayado del enlace */
}

.botoncitos:hover {
    background-color: #ff0000;
    /* Color de fondo al pasar el cursor */
}